.input_values{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
  }
  .p-float-label{
    width: 100%;
  }
  .float-input{
    width: 100%;
  }