
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet" />
        <link href="./timetable.component.scss" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
    <div *ngIf="pairs.length; else unset"  class="timetable">  
        <div class="days" *ngFor="let day of pairs" >
       <!-- <div  class="day_title">-->
           <span class="day_title" *ngIf="day.weekday === 'monday'">Понеділок</span>
           <span class="day_title" *ngIf="day.weekday === 'tuesday'">Вівторок</span> 
           <span class="day_title" *ngIf="day.weekday === 'wednesday'">Середа</span> 
           <span class="day_title" *ngIf="day.weekday === 'thursday'">Четвер</span> 
           <span class="day_title" *ngIf="day.weekday === 'friday'">П'ятниця</span>  
        <!--</div>-->
            
            <div class="card" *ngFor="let pair of day.pairs">
                <div class="info">
                    <span class="room">{{pair.room}}</span>
                    <span class="subject">{{pair.subject}}</span>
                </div>
                <input type="image" (click)="showDialogEdit(pair) "  [src]="edit_image" *ngIf="group" class="button_image" id="edit"> 
                <input type="image" (click)="onDeletePair(pair.id)" [src]="delete_image" *ngIf="group == editAllowGroup"class="button_image" id="delete"> 
                <div class="type_container" id={{pair.type}}>
                    <span class="type" *ngIf="pair.type === 'lab'">Лабораторна</span>
                    <span class="type" *ngIf="pair.type === 'lecture'">Лекція</span>
                    <span class="type" *ngIf="pair.type === 'practice'">Практика</span>
                </div>
                <div class="time_container">
                    <span class="time">{{pair.time}}</span>
                </div>
            </div>
            <a (click)="showDialogCreate()" *ngIf="tgID > 0 && group == 'УІ191'">
                <div class="card" id="add_card">
                    + Додати пару
                </div>
                
            </a>
        </div>
        
    </div>
    <p-dialog [(visible)]="displayAdd" [contentStyle]="{'width': '25vw' , 'height' : '25vw'}" [resizable] = "false">
        <ng-template pTemplate="header">
            <h2>Додання пари</h2>
        </ng-template>
        <div class="input_values">   
            <span class="p-float-label">
                <input class="float-input" id="float-input_room" type="text" pInputText> 
                <label for="float-input_room">Аудиторія</label>
            </span>
            <span class="p-float-label">
                <input class="float-input" id="float-input_subject" type="text" pInputText> 
                <label for="float-input_subject">Дисципліна</label>
            </span>
            <span class="p-float-label">
                <input class="float-input" id="float-input_time" type="text" pInputText> 
                <label for="float-input_time">Час</label>
            </span>
        </div>
        <ng-template pTemplate="footer">
            <p-button label="Додати пару" icon="pi pi-check" iconPos="left" (click) = "onCreatePair()"></p-button>
        </ng-template> 
    </p-dialog>
       
    <p-confirmDialog [visible]="onDeleted" header="Підтвердження" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-toast position="top-right"></p-toast>

    <ng-template #unset>
            <h2>Выберите группу</h2>
    </ng-template>
        
    
    </body>

</html>