
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet" />
        <link href="./timetable.component.scss" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
    <div *ngIf="pairs.length; else unset"  class="timetable">  
        <div class="days" *ngFor="let day of pairs" >
       <!-- <div  class="day_title">-->
           <span class="day_title" *ngIf="day.weekday === 'monday'">Понеділок</span>
           <span class="day_title" *ngIf="day.weekday === 'tuesday'">Вівторок</span> 
           <span class="day_title" *ngIf="day.weekday === 'wednesday'">Середа</span> 
           <span class="day_title" *ngIf="day.weekday === 'thursday'">Четвер</span> 
           <span class="day_title" *ngIf="day.weekday === 'friday'">П'ятниця</span>  
        <!--</div>-->
            
            <div class="card" *ngFor="let pair of day.pairs">
                <div class="info">
                    <span class="room">{{pair.room}}</span>
                    <span class="subject">{{pair.subject}}</span>
                </div>
                <input type="image" *ngIf="isLink()" [src]="link_image" class="button_image" id="link"> 
                <input type="image" (click)="showDialogEdit(pair) "  [src]="edit_image" *ngIf="group == editAllowGroup" class="button_image" id="edit"> 
                <input type="image" (click)="onDeletePair(pair.id)" [src]="delete_image" *ngIf="group == editAllowGroup"class="button_image" id="delete"> 
                <div class="type_container" id={{pair.type}}>
                    <span class="type" *ngIf="pair.type === 'lab'">Лабораторна</span>
                    <span class="type" *ngIf="pair.type === 'lecture'">Лекція</span>
                    <span class="type" *ngIf="pair.type === 'practice'">Практика</span>
                </div>
                <div class="time_container">
                    <span class="time">{{pair.time}}</span>
                </div>
            </div>
            <button (click)="showDialogCreate()" *ngIf="group == editAllowGroup" class="card" id="add_card">
                
                    + Додати пару
                
                
            </button>
        </div>
        
    </div>   
    <p-confirmDialog [visible]="onDeleted" header="Підтвердження" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-toast position="top-right"></p-toast>

    <ng-template #unset>
            <h1>ой.. что-то с сервером</h1>
    </ng-template>
        
    
    </body>

</html>