
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet" />
        <link href="./timetable.component.scss" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="card">
            <div class="v5_376">
                <span class="v5_377">609ф</span>
                <span class="v5_378">Веб-технології та веб-дизайн</span>
            </div>
            <div class="v5_379">
                <span class="v5_380">Лабораторна</span>
            </div>
        </div>
        <div class="card">
            <div class="info">
                <span class="v5_377">609ф</span>
                <span class="v5_378">Веб-технології та веб-дизайн</span>
            </div>
            <div class="v5_379">
                <span class="v5_380">Лабораторна</span>
            </div>
        </div>
        <div class="card">
            <div class="info">
                <span class="v5_377">609ф</span>
                <span class="v5_378">Веб-технології та веб-дизайн</span>
            </div>
            <div class="v5_379">
                <span class="v5_380">Лабораторна</span>
            </div>
        </div>
    </body>
</html>