<div class="toolbar" role="banner">
	<form>
	  <select id="course" name="course" (change)="setCourse($event.target)">
		<option *ngFor="let i of courses">{{i + ' курс'}}</option>
	  </select>
  
	  <select id="group" name="group" (change)="setGroup($event.target)">
		<option *ngFor="let i of groups">{{i}}</option>
	  </select>
	</form>
	<angular-telegram-login-widget id="telegram_login" (load)="onLoad()" (loadError)="onLoadError()" (login)="onLogin($event)"
  [botName]="botName"></angular-telegram-login-widget>
	
  </div>

  


<app-timetable [tgID]="telegramID" [group]="group"></app-timetable>