<div>
	<p-menubar [model]="items" [autoDisplay]="false" [style] = "{ 'border-radius' : '0px' }" >
	<ng-template pTemplate="start">
		<img src="assets/img/air.png" height="50" class="p-mr-2">
	</ng-template>
	<ng-template pTemplate="end">
		<angular-telegram-login-widget id="telegram_login" (load)="onLoad()" (loadError)="onLoadError()" (login)="onLogin($event)"
					[botName]="botName"></angular-telegram-login-widget>
	</ng-template>
	
	</p-menubar>
</div>

<app-timetable [editAllowGroup]="editGroup" [tgID]="telegramID" [group]="group"></app-timetable>
