
<div class="timetable" cdkDropListGroup>
    <div class="timetable-days-wrapper">
        <div class="timetable-day" *ngFor="let day of days" >
       <!-- <div  class="day_title">-->
                   
        <div class="timetable-day__weekday">{{day.weekday}}</div> 
        <!--</div>-->
        <p-toast></p-toast>
            <div class="pair-list" cdkDropList [cdkDropListData]="day.pairs" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let pair of day.pairs">
                    
                    <div *ngIf="pair == null; else pairCard">
                        <div class="example-custom-placeholder" [cdkDragDisabled]="true" cdkDrag>
                            <div *ngIf="isDragStarted">Можна перетягнути сюди</div>
                        </div>
                    </div>
                    <ng-template #pairCard >
                        <div [ngStyle]="{'margin-bottom':'0.8rem'}" class="timetable-card" cdkDrag (cdkDragStarted)="dragStart(pair)" (cdkDragEnded)="dragEnd()">
                
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                            <div class="timetable-card-info">
                                
                                <div class="timetable-card-header">
                                    <div class="timetable-card-info__room" >{{pair!.room}}</div>
                                    <div class="timetable-card-buttons">
                                        <input type="image" (click)="showDialogEdit(pair!!)"  [src]="edit_image" class="timetable-card-info__image-link" id="edit">
                                        <input type="image" (click)="onDeletePair(pair!!.id)" [src]="delete_image" class="timetable-card-info__image-link" id="delete">
                                        <div class="example-handle" cdkDragHandle>
                                            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                              <path d="M0 0h24v24H0z" fill="none"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="timetable-card-info__subject">{{pair!.subject.name}}</div>
                                <div *ngIf="pair!.lecturers.length; else emptystring" class="timetable-card-info__teacher">{{pair!.lecturers[0].firstname + ' ' + pair!.lecturers[0].lastname}}</div>
                                <ng-template #emptystring>
                                    <div class="timetable-card-info__teacher-placeholder"> </div>
                                </ng-template>
                            </div>
        
                                   
                            <div class="timetable-card-type-wrapper">
        
                                <div class="timetable-card-type" id={{pair!.type}}>
                                    <div class="timetable-card-type__name" *ngIf="pair!.type === 'lab'">Лабораторна</div>
                                    <div class="timetable-card-type__name" *ngIf="pair!.type === 'lecture'">Лекція</div>
                                    <div class="timetable-card-type__name" *ngIf="pair!.type === 'practice'">Практика</div>
                                </div>
                            </div>
                            
                            <div class="timetable-card-footer">
                                <div class="timetable-card__time">{{mapPairNumberTime.get(pair!.number)}}</div>
                            </div>
                        </div> 
                    </ng-template>
                </div>
            </div>   
            <!-- <button (click)="showDialogCreate()" *ngIf="group == editAllowGroup" class="add-timetable-card" id="add_card">+ Додати пару</button> -->
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
